<nav class="navbar navbar-default navbar-inverse bg-inverse">
			<div class="navbar-header">
				<a href="#" class="navbar-brand">Pinterest Clone</a>
				
			</div>
			<ul class="nav navbar-nav navbar-left">
				<li><a href="/">All</a></li>
				{{#if loggedin}}
    				<li><a href="/my_pics">My Pics</a></li>

			    {{!--Add dropdown form here--}}
			    <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Add a Pic <span class="caret"></span></a>
		          <ul class="dropdown-menu">
		          	<form method="POST" action="/submit_pic">
  		        	    <li><input placeholder="Url" class="form-control" name="url" /></li>
			            <li><input placeholder="Description" class="form-control" name="description" /></li>
			            <li><button class="btn btn-primary" type="submit">Send</button></li>
		          	</form>

		          </ul>
		        </li>
			    
			{{/if}}
			</ul>

			<ul class="nav navbar-nav navbar-right">
				{{#if loggedin}}
                    <li><a href="/logout">Log Out</a></li>
				{{else}}
				    <li><a href="/auth/twitter/callback">Login</a></li>
				{{/if}}
			</ul>
</nav>