<nav class="navbar navbar-default navbar-inverse bg-inverse">
			<div class="navbar-header">
				<a href="#" class="navbar-brand">Pinterest Clone</a>
				
			</div>
			<ul class="nav navbar-nav navbar-left">
				<li><a href="/">All</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{{#if loggedin}}
                    <li><a href="/logout">Log Out</a></li>
				{{else}}
				    <li><a href="/auth/twitter/callback">Login</a></li>
				{{/if}}
			</ul>
</nav>