<div class="masonry-grid">
    {{#each pics}}
        <div>
            <img src={{url}} />
            <a href={{url}}>{{description}}</a>
        </div>
    {{/each}}
</div>
<script type="text/javascript" src="common/ajax-functions.js"></script>
<script type="text/javascript" src="controllers/userPicsController.client.js"></script>