<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Pinterest clone</title>
    <link href="/public/css/main.css" rel="stylesheet" type="text/css">

</head>

<header>
    {{> navbar}}
</header>
<body>
    
    {{{body}}}

</body>
</html>